
.auto-coder/
actions/
output.txt
web/
logs/
rags.json
models.json
config.json
deploy.sh
dist/
build/
pasted/
chat_events/
events/
chat.json
users.json
chat_data/
byzer_sql.json
data/
frontend.log
file_resources.json
config.json
**/__pycache__/
**/*.egg-info
**/frontend.log
**/*.log
williamtoolbox-0.0.49/
williamtoolbox-0.0.49.tar.gz
src/*.egg-info
